<header class="header">
	<div class="header__content">
		<div class="header__left">
			<img src="assets/images/logo.svg" alt="denys web" class="header__logo" />
		</div>
		<div class="header__right">
			<nav class="header__nav nav-header">
				<ul class="nav-header__list">
					<li class="nav-header__item _active">
						<a href="#" class="nav-header__link">Home</a>
					</li>
					<li class="nav-header__item">
						<a href="#" class="nav-header__link">Sobre mim</a>
					</li>
					<li class="nav-header__item">
						<a href="#" class="nav-header__link">Portfólio</a>
					</li>
					<li class="nav-header__item">
						<a href="#" class="nav-header__link">Skills</a>
					</li>
					<li class="nav-header__item">
						<a href="#" class="nav-header__link">Carreira</a>
					</li>
					<li class="nav-header__item">
						<a href="#" class="nav-header__link">Recomendações</a>
					</li>
					<li class="nav-header__item">
						<a href="#" class="nav-header__link">Contato</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
